<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaxX34R59OrP9dWobP7Hcvob8w_jcApKM</string>
	<key>GCM_SENDER_ID</key>
	<string>633326049997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteIt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note-it-eb06a</string>
	<key>STORAGE_BUCKET</key>
	<string>note-it-eb06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633326049997:ios:c47b01d6dc4b51d8ff6784</string>
</dict>
</plist>